
.logo{
    font-family: 'Itim', cursive;
}

.size{
    width: 150px;
    height: 150px;
} 

.align div{
    margin-left: 40px;
    text-align: center;
}

.align a{
    text-decoration: none;
    color: black;
}

.align h5,h6{
    padding-top: 5px;
}

.align{
    overflow-x: scroll;
    display: flex;
}

#best_food{
    margin-left: 11%;
    margin-top: 70px;
}

#best_food_images img{
    height: 290px;
    width: 380px;
    margin: 12px 0 10px 3px;
}

.textdec{
    text-decoration: none;
}

#best_food_images span{
    float: right;
}

#best_food_images div:hover{
    box-shadow: 0px 0px 10px 0px lightgray
}

#best_food_images div{
    margin-top: 10px;
    border-radius: 15px;
}

footer{
    background-color: #e3f2fd;
}

Footer a{
    text-decoration: none;
}